@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

:root {
    /* Colors */
    --almost-White: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --Almost-black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--almost-White);
    font-family: 'Epilogue', sans-serif;
}

p {
    size: 18px;
}